<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeLeaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Venta de Libros</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
            <a class="navbar-brand">Libreria Mau</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="compras.html">Comprar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Mi Carrito(0)</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="login.html">Login/Register</a>
                </li>
              </ul>
            </div>
            <form class="form-inline">
                <input class="form-control mr-3 sm-2 " type="search" placeholder="Buscar Titulo,Autor o ISBN" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </nav>
    </header>


    <main class="bg-info">
        <div class="container my-4" >
            <a href="https://planetalibro.net/libro/harlan-ellison-no-tengo-boca-y-debo-gritar">
                <h3 class="">No tengo boca y debo gritar</h3>
            </a>
            <iframe class="embed-responsive-item" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                width="100%" height="200px" allowfullscreen="" 
                src="https://www.youtube.com/embed/Y52hm_CsLCU?autoplay=1&amp;mute=0&amp;cc_load_policy=1" id="player"></iframe>
            
            <div class="form-row">
                <div class="form-group col-md-4">
                    <div class="card my-4" style="width: 18rem;">
                        <img class="card-img-top" src="/imagenes/nochetletelolco.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">La noche de tlatelolco</h5>
                            <p class="card-text">Elena Poniatowska</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Novela literaria</li>
                            <li class="list-group-item">libro de fantasia</li>
                            <li class="list-group-item">Ciencias sociales</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="card my-4" style="width: 18rem;">
                        <img class="card-img-top" src="/imagenes/nochetletelolco.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">La noche de tlatelolco</h5>
                            <p class="card-text">Elena Poniatowska</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Novela literaria</li>
                            <li class="list-group-item">libro de fantasia</li>
                            <li class="list-group-item">Ciencias sociales</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="card my-4" style="width: 18rem;">
                        <img class="card-img-top" src="/imagenes/nochetletelolco.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">La noche de tlatelolco</h5>
                            <p class="card-text">Elena Poniatowska</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Novela literaria</li>
                            <li class="list-group-item">libro de fantasia</li>
                            <li class="list-group-item">Ciencias sociales</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="card my-4" style="width: 18rem;">
                        <img class="card-img-top" src="/imagenes/nochetletelolco.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">La noche de tlatelolco</h5>
                            <p class="card-text">Elena Poniatowska</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Novela literaria</li>
                            <li class="list-group-item">libro de fantasia</li>
                            <li class="list-group-item">Ciencias sociales</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="card my-4" style="width: 18rem;">
                        <img class="card-img-top" src="/imagenes/nochetletelolco.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">La noche de tlatelolco</h5>
                            <p class="card-text">Elena Poniatowska</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Novela literaria</li>
                            <li class="list-group-item">libro de fantasia</li>
                            <li class="list-group-item">Ciencias sociales</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="card my-4" style="width: 18rem;">
                        <img class="card-img-top" src="/imagenes/nochetletelolco.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">La noche de tlatelolco</h5>
                            <p class="card-text">Elena Poniatowska</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Novela literaria</li>
                            <li class="list-group-item">libro de fantasia</li>
                            <li class="list-group-item">Ciencias sociales</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>

            </div>    
        </div>
    </main>

    <footer class="my-4" id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 footer-links">
                        <h4>Acerca de PlanetaLibro.net</h4>
                        <p>Libreria Mau es una biblioteca con más de 70.000 libros, 15.000 de dominio público para leer en tu teléfono, tablet o ebook reader.<br>Descarga libros gratis y de forma legal</p>
                    </div>
          
                    <div class="col-lg-3 col-md-3 footer-links">
                        <h4>Enlaces</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://planetalibro.net/">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://planetalibro.net/blog">Blog</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://planetalibro.net/escuchar_audiolibros">Audiolibros</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://play.google.com/store/apps/details?id=com.teknear.planetalibro">Descargar App</a></li>
                        </ul>
                    </div>
          
                    <div class="col-lg-3 col-md-3 footer-links">
                        <h4>Contacto</h4>
                        <p>
                            <strong>Email:</strong> juniorlibro@gmail.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://www.youtube.com/c/PlanetaLibrox" class="youtube"><i class="bx bxl-youtube"></i></a>
                            <a href="https://www.facebook.com/planetalibro.net" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/planetalibro/" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="https://ar.pinterest.com/planetalibro/" class="pinterest"><i class="bx bxl-pinterest"></i></a>
                        </div> 
                        <p>&copy Copyright 2023</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>